{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}百里的工作空间{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/mainworkplace/index.css' %}">
{% endblock %}
{% block content %}
    <div class="col-12 img-fluid wholepage">
        <br>
        <div class="mx-auto myproject1">
            pass
        </div>
        <br>
        <div class="mx-auto myproject2">
            pass
        </div>
        <br>
        <div class="mx-auto myproject3">
            pass
        </div>
        <br>
        <div class="mx-auto myproject4">
            pass
        </div>
        <br>
        <div class="mx-auto myproject5">
            pass
        </div>
    </div>
{% endblock %}