{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}百里的工作空间{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/mainworkplace/index.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <blockquote>
                    <p>
                        <strong>不能使你灭亡的，终将使你强大</strong>
                    </p>
                    <p align="right">
                        <small>----- <cite><strong>尼采</strong></cite></small>
                    </p>
                </blockquote>
            </div>
        </div>
        <br>
        <div class="row clearfix">
            <div class="col-md-8 column">
                <img class="img-fluid" src="/static/images/9a818d04-8495-4694-9d19-270b05d49229.jpg"/>
            </div>
            <div class="col-md-4 column">
                <h3>
                    h3. 这是一套可视化布局系统.
                </h3>
                <p>
                    <em>Git</em> 是一个分布式的版本控制系统，最初由 <strong>Linus Torvalds</strong>
                    编写，用作Linux内核代码的管理。在推出后，Git在其它项目中也取得了很大成功，尤其是在
                    <small>Ruby</small>
                    社区中。
                </p>
            </div>
        </div>
        <br>
        <div class="row clearfix">
            <div class="col-md-4 column">
                <h3>
                    h3. 这是一套可视化布局系统.
                </h3>
                <p>
                    <em>Git</em> 是一个分布式的版本控制系统，最初由 <strong>Linus Torvalds</strong>
                    编写，用作Linux内核代码的管理。在推出后，Git在其它项目中也取得了很大成功，尤其是在
                    <small>Ruby</small>
                    社区中。
                </p>
            </div>
            <div class="col-md-8 column">
                <img align="right" class="img-fluid" src="/static/images/9a818d04-8495-4694-9d19-270b05d49229.jpg"/>
            </div>
        </div>
        <br>
        <div class="row clearfix">
            <div class="col-md-8 column">
                <img class="img-fluid" src="/static/images/9a818d04-8495-4694-9d19-270b05d49229.jpg"/>
            </div>
            <div class="col-md-4 column">
                <h3 class="text-center">
                    h3. 这是一套可视化布局系统.
                </h3>
                <p>
                    <em>Git</em> 是一个分布式的版本控制系统，最初由 <strong>Linus Torvalds</strong>
                    编写，用作Linux内核代码的管理。在推出后，Git在其它项目中也取得了很大成功，尤其是在
                    <small>Ruby</small>
                    社区中。
                </p>
            </div>
        </div>
        <br>
        <div class="row clearfix">
            <div class="col-md-4 column">
                <h3>
                    h3. 这是一套可视化布局系统.
                </h3>
                <p>
                    <em>Git</em> 是一个分布式的版本控制系统，最初由 <strong>Linus Torvalds</strong>
                    编写，用作Linux内核代码的管理。在推出后，Git在其它项目中也取得了很大成功，尤其是在
                    <small>Ruby</small>
                    社区中。
                </p>
            </div>
            <div class="col-md-8 column">
                <img align="right" class="img-fluid" src="/static/images/9a818d04-8495-4694-9d19-270b05d49229.jpg"/>
            </div>
        </div>
    </div>
{% endblock %}